@media(min-width:1024px){div.grid[data-v-ca116456]{grid-template-columns:var(--left-width) auto var(--right-width)}}.action-content[data-v-553effaa] p{margin:0}.action-content[data-v-553effaa] p+p{margin-top:.5rem}
